.videos-header {
  display: flex;
  align-items: center;
  background-color: $color-primary;
  height: 50px;
  width: 100vw;
  box-shadow: $shadow-dark;

  &__logo {
    font-size: 1.5rem;
    color: white;
    padding: 3px;
    margin-left: 50px;
  }

  &__form {
    margin: 0 auto;
    min-width: 600px;

  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
  }


}


